@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Thin.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-BoldItalic.woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Italic.woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-ThinItalic.woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans CJK SC";
  src: url("/fonts/NotoSansCJKsc-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans CJK SC";
  src: url("/fonts/NotoSansCJKsc-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans CJK";
  src: url("/fonts/NotoSansCJK-Thin.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

body,
code {
  font-family: "JetBrains Mono", "Noto Sans CJK SC", "Noto Sans CJK",
    -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu,
    Cantarell, open sans, helvetica neue, sans-serif;
}
